PORT=3000
HOST=0.0.0.0
DB_HOST=postgres
DB_PORT=5432
DB_USER=gestao_user
DB_PASSWORD=gestao_password
DB_NAME=gestao_db
DATABASE_URL=
NODE_ENV=development
JWT_SECRET=seu_secret_jwt_super_seguro_aqui
JWT_EXPIRES_IN=7d
DEFAULT_ADMIN_EMAIL=wesley@gmail.com
DEFAULT_ADMIN_PASSWORD=Wesley@1.
DEFAULT_ADMIN_NAME=Wesley
